@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
  }
}


@layer base {
  * {
    @apply border-border transition-colors duration-300;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }
}

/* Rest of your CSS remains the same */

.overlay {
  position: fixed; /* or 'absolute' if you want it relative to a parent container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure it's on top of other content */
  pointer-events: none
}

.overlay-content {
  pointer-events: auto
}

.logo {
cursor: pointer;
}

.menu-button {
  cursor: pointer;
  font-size: 24px;

  }

.hero-title {
  font-size: 92px;
  line-height: 0.80;
  font-weight: bold;

  }

  body {
    transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .page-transition {
    opacity: 0;
    background-color: black;
    transform: translateY(20px);
  }